<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9d8f2beb-2f1b-4a16-9768-beed17a7c71e/resourceGroups/Wygrzeb/providers/Microsoft.Web/sites/wygrzebapi</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wygrzebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>395d0dcf-4c96-461b-a35a-677e582f5a28</ProjectGuid>
    <PublishUrl>https://wygrzebapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$wygrzebapi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>